.calculator {
    width: 200px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.keypad button {
    width: 40px;
    height: 40px;
    margin: 5px;
}

#result {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#equalto {
    background-color: #0072c5;
    color: #fff;
    border: 1px solid #0072c5;
}

#in7 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#in8 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#in9 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#in4 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#in5 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#in6 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#in1 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#in2 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#in3 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#in0 {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}

#indot {
    background-color: #8e9fab;
    color: #fff;
    border: 1px solid #8e9fab;
}